*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  background-color: black;
  overflow: auto;
  color: var(--primary-cream);
}

body{
  overflow:hidden;
}
/*COLOR STYLES*/
:root {
  --primary-cream:#ece7ca;
}

/*FONT STYLES*/

@font-face {
 /* font-family: 'Playfair Display Black';
  src: local('Playfair Display Black'),
  url('./fonts/PLAYFAIRDISPLAY-VARIABLEFONT_WGHT.TTF') format('truetype');*/

  font-family: 'Sans Serif';
  src: local('Sans Serif'),
  url('./fonts/SANSSERIFCOLLECTION.TTF') format('truetype');

  font-family: 'Stardom Regular';
  src: local('Stardom Regular'),
  url('./fonts/Stardom-Regular.otf') format('truetype');

  
  font-family: 'Butler UltraLight';
  src: local('Butler UltraLight'),
  url('./fonts/BUTLER_ULTRA_LIGHT.OTF') format('truetype');

  font-family: 'Source Sans 3 Light';
  src: local('Source Sans 3 Light'),
  url('./fonts/SANSSERIFCOLLECTION.TTF') format('truetype');
} 
.Italic {
  font-family: 'Cambria Italic';
  font-size: 80px;
}


/*HEADER STYLES*/

.Navbar {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0px 1vw;
  background-color: black;
  opacity: 80%;
  color: var(--primary-cream);
  width: 100%;
  position: fixed;
  z-index: 3;
}

.Header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 2em;
  list-style-type: none;
  letter-spacing: 2px;
  font-size: 0.8rem;
}


.contact-btn {
  border: 1px solid white;
  padding: 5px;
  border-radius: 8px;
}

.Logo {
font-weight: 300;
font-size: 1.1rem;
}



/*HOME SECTION STYLES*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-cream);
}

.Homepage {
  background-color: black;
  color: var(--primary-cream);
  width: 100%;
  display: flex;
  min-height: fit-content;
  padding-top: 70px;
}

 .Projects-Card {
  padding: 0px 13vw;
}

.Home-Bio {
  display: flex;
  width: 100%;
  height: fit-content;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-cream);
}

.Intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: fit-content;
  padding: 30px 15px;
margin: auto;
  
}

.Intro-H1 {
  font-size: 5rem;
  font-weight: 500;
  font-family:'Georgia', 'Times New Roman Italic', Times, serif;
  
  
}
.FadeUp{
  animation:fadeInUp 1s ease backwards;}

  .FadeUp1{
    animation:fadeInUp1 1s ease backwards;}

    .FadeUp2{
      animation:fadeInUp2 1s ease backwards;}
  

.Delay1 {
transition-delay: 5s;
}

.Delay2 {
  transition-delay: 20s,
}

@keyframes fadeInUp{
  0%{transform:translate(0px, 300px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

@keyframes fadeInUp1{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

@keyframes fadeInUp2{
  0%{transform:translate(0px, 150px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}


.Intro-P {
  font-size: 1.3rem;
  font-weight: 100;
  padding-top: 12px;
  width: 320px;
  margin: auto;
}

.Opaque {
  font-size: 1.1rem;
  opacity: 70%;
  letter-spacing: 1px;
  margin-top: 20px;
  --animate-duration:1.5s;
}


.Intro-links {
  font-size: 18px;
  gap: 15px;
  height: fit-content;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
}

.Link-A {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-cream);
  border-radius: 20px;
  background-color: black;
  color: var(--primary-cream);
  transition: 400ms;
}

.Social-Wrapper {
 height: 100%;
 width: fit-content;
 display: flex;
 margin: auto 0;
 gap: 10px;
}

.Social {
  color: var(--primary-cream);
  font-size: 20px;
}

.Social:hover {
  color: grey;
  transition: 200ms;
}

.Border{
  width: 95vw;
  height: 0.2px;
  border-bottom: 0.5px solid var(--primary-cream);
  margin: 0 auto;
}

/*PROJECTS SECTION*/


.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  height: 100vh fit-content;
  background-color: black;
  color: white;
  padding-top: 70px;

}


.Projects-Header {
justify-content: center;
font-size: 36px;
height: 70px;
display: flex;
}

.Projects-Bio {
Margin-top: 10px;

}

.Projects-Grid {
  display: flex;
flex-direction: row;
margin: 0px auto;
 height: fit-content;
 width: 100%;
 gap: 2em;
padding: 2em 2em;
align-content: center;
overflow-x: scroll;
overscroll-behavior-inline: contain;

}

.Projects-Grid::-webkit-scrollbar {
  display: flex;
  justify-content: center;
  height: 1px;
}

.Projects-Grid::-webkit-scrollbar-track {
  border: 1px solid grey;
  opacity: 50%;
  height: 1px;
  margin: 0px 500px;
}

.Projects-Grid::-webkit-scrollbar-thumb {
background-color: white;
height: 2px;
margin: 0px ;
width: 30px;
}

.Snaps-Inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1em;
}

.Snaps-Inline > * {
  scroll-snap-align: start;
}

.BeatStore {
background-image: url(./Images/ProdLuna.png);
height: 100%;
inline-size: 100%;
aspect-ratio: 16/9;
background-size: cover;
background-repeat: no-repeat;
background-position: center center; 
border-radius: 10px;
color: var(--);
}

.Knew98{
  background-image: url(./Images/KNEW\ 98.png);
  height: 100%;
  aspect-ratio: 16/9;
  inline-size: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center center; 
border-radius: 10px;
color: var(--);
}

.Spotify {
  background-image: url(./Images/Spotify.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  border-radius: 10px;
  color: var(--);
}

.Grid-Item {
  display: flex;
  flex-direction: column;
  color: black;
  height: 475px fit-content;
border-radius: 10px;
min-width: 550px;
max-width: 550px;
transition: 300ms;
padding: 5px;
}

.Grid-Item:hover {
  background-color: rgb(22, 22, 22) ;
  transition: 300ms;
}

.Card-Img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Card-Content {
  Margin-top: 10px;
height: fit-content;
width: 100%;
margin-bottom: auto;
display: flex;
flex-direction: column;
}

.Sub-Title {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;

}

.Sub-Title-Cat{
  height: 20px;
  color: grey;
  font-size: 1rem;
  letter-spacing: 1px;


}

.Card-Title {
  height: 60px;
  display: flex;
  font-size: 2.3rem;
  color: var(--primary-cream);
  font-weight: 300;
}

.Card-Info {
  color: var(--primary-cream);
  width: 100%;
  height: fit-content;
  display: flex;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 20px;
}

.Sml-Info-Wrapper {
  color: var(--primary-cream);
  display: flex;
  letter-spacing: 2px;
  font-weight: 100;

}

.Sml {
  font-size: 0.7rem;
  font-weight: 200;
}

.Visit {
  font-size: 0.7rem;
  width: fit-content;
  transition: 300ms;
}

.Visit:hover {
color: grey;
transition: 300ms;
}

 a{
  text-decoration: none;
  color: var(--primary-cream);
}

/*FOR PROJECTS STILL IN PROGRESS*/
.Card-Btn-Pending {
  padding: 0.5em;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  background-color: grey;
  font-weight: 600;
}

/*FOR PROJECTS STILL IN PROGRESS*/

.Project-SC {
display: block;
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 10px 10px 0px 0px;
}
/*SKILLS STYLES*/

.Skills {
  display: flex;
  width: 100%;
  height: 120PX;
  margin: 1em 0em;
  background-color: black;
  overflow: hidden;
  white-space: nowrap;
}

.Overflow {
  display: flex;
  flex-direction: row;
}

@keyframes slide {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-100%)
  }
}

.Wrapper {
  display: flex;
  align-items: center;
  animation: 15s slide infinite linear;
  padding: 1rem 0rem;
}

 img {
height: 5rem;
margin:0rem 60px;
}

.Logo-item {
  height: 5rem;
margin:0rem 60px;
display: flex;
align-items: center;
font-size: 5rem;
}
/*CTO STYLES*/
.CTO {
color: var(--primary-cream);
background-color: black;
display: flex;
height: 100vh fit-content;
justify-content: center;
align-items: center;
width: 100%;
padding-top: 70px;
}

.CTO-Wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.CTO-Title, .CTO-Para {
padding: 0.5rem 1rem;

}

.CTO-Title {
  font-size: 3rem;
  font-weight: 300;
  color: var(--primary-cream);
  width: 100%;

}

.CTO-Para {
font-size: 1.15rem;
line-height: 1.75em;
font-family:Arial, Helvetica, sans-serif;
width: 200px;
margin: 0 auto;
}

.CTO-bio {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
min-width: 50%;
height: fit-content;
margin:  50px auto;
}

.Input-field {
  width: 100%;
  height: 100%;
display: flex;
justify-content: center;
}

.form-control, .form-control-sm {
  min-width: 500px;
  max-width: 500px;
  padding: 20px;
  border: 1px solid var(--primary-cream);
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: black;
  color: var(--primary-cream);
  font-size: 1.1rem;
}

.form-outline label {
  display: flex;
}

label {
  padding-bottom: 5px;
}

.form-outline  {
  margin-top:  20px;
}


/*NEW INPUT STYLES*/

.button-wrapper {
  width: 100%;
display: flex;
justify-content: center;
height: 50px;
margin: 45px auto;
}

.button {
  padding: 10px 50px;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 1px solid var(--primary-cream);
  color: var(--primary-cream);
  cursor: pointer;
  border-radius: 20px;
}

/*FOOTER STYLES */
.footer {
display: flex;
flex-direction: column;
height: 70px;
width: 100%;
color: white;
justify-content: center;
background-color: black;
color: var(--primary-cream);

}

.Footer-Title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  height:20%;
  width: 100%;
  align-items: center;
}

.Footer-UL {
  display: flex;
  justify-content: center;
  gap: 5em;
  width: 60% auto;
  height: 30%;
  padding: 40px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0px 11em;
  list-style-type: none;
  align-items: center;
}

.Footer-Li {
display: flex;
border: 2px solid red;
  justify-content: space-evenly;

}

.Header-Icon-Bar {
  MARGIN:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 35%;
}
.Header-Icons {
  display: flex;
  flex-direction: row;
}
.Github{
display: block;
height: 55px;
}

.Twitter {
  display: block;
  height: 55px;
}

/*HOVER STYLES*/

.Link-A:hover {
  background-color: var(--primary-cream);
  color: black;
  cursor: pointer;
  transition: 400ms;
}

.contact-btn:hover {
  background-color: white;
  color: black;
  transition: 250ms;
}

 .Card-Btn:hover, .Src-Btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

li:hover {
  cursor: pointer;
  color: gray;
}

.Grid-Item:hover {
  transition: 250ms;
}

.button:hover {
  color: black;
  background-color: var(--primary-cream);
  border: 1px solid var(--primary-cream);
  transition: 400ms;
}

/*RESPONSIVE MEDIA RULES*/



.Homepage {
  background-color: black;
  height: 20%;
  width: 100%;
  display: flex;
  color: white;
}

.Intro-text {
  height: 100%;
  width: 100%;
  max-width: 700px;
  padding: 30px 0px;
}

.Input-field {
  width: 100%;
  height: 65%;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 0px;
}

@media screen and (max-width:800px){

  .Homepage {
    padding: 60px 0px;
    
  }
  .Header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    gap: 1em;
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 11px;
  }

  .Navbar {
    padding: 0em 2em;
  }

 .PFP{
  visibility: hidden;
 }
 .form-control, .form-control-sm {
  min-width: 300px;
  width: 90vw;
  border-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 0px;
}


.Header-links {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 18px;
  list-style-type: none;
 
}

.Projects-Grid {
  display: flex;
  flex-direction: column;
  height: 82%;
  width: 100vw;
   padding: 2rem 0rem;
 align-content: center;
 }
 
 .Grid-Item {
 min-width: 90vw;
 height: fit-content;

 }

 .Card-Img {
 max-width: 100vw;
 height: 12rem;
 aspect-ratio: 16 / 9;
 }

 .CTO-Wrapper {
  flex-direction: column;
 }

 .Projects-Grid {
  padding: 0em 2em;
}

.CTO-bio {
  width: 100vw;
}

}

/*PFP DIV */

/*<div className='Profile-Pic'>
<img className='PFP' src='https://drive.google.com/uc?export=download&id=1zlBCGFbNp9gjUwVuCQiPtQutpC_trttJ' alt='pfp alt'></img>
</div>*/